{% extends "layout.html" %}

{% block title %}
	Welcome!
{% endblock %}

{% block main %}
	<h2 class="text-center mt-2">Welcome to BookHero!</h2>

	<div class="row">

		<div class="col mt-5">
			<img src="/static/image.png" alt="Book Hero" class="hero">
		</div>

		<div class="col mt-5">
				
			<p>You can search our database of books, read reviews submitted by other readers, and submit your very own review!</p>

			<p>To get started, log in or register <a href="/register">here</a>.</p>

			<form class="p-4 rounded mt-4 bg-light" action="/login" method="post">
				<div class="form-group">
					<label for="username_login">Username</label>
					<input class="form-control" type="text" id="username_login" name="username" placeholder="Username" required>
				</div>

				<div class="form-group">
					<label for="password_login">Password</label>
					<input class="form-control" type="password" id="password_login" name="password" placeholder="Password" required>
				</div>

				<button class="btn btn-dark" type="submit">Login</button>
			</form>
		</div>
	</div>
{% endblock %}